<div
  class="card my-2 border-danger shadow bg-secondary"
  style="width: 18rem; height: 19rem;"
>
  <div class="card-header">
    <%= card.title %>
  </div>
  <img src="<%= card.img %>" class="card-img-top" alt="..." />
  <div class="card-body bg-dark ">
    <%= card.desc %>
  </div>
</div>
