<div class="card my-2 shadow bg-secondary" style="width: 18rem; height: 19rem;">
  <div class="card-header bg-primary ">
    Unknown Identity Card
  </div>
  <div class="card-body bg-dark  ">
    You dont know this identity yet
  </div>
</div>
