<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="theme-color" content="#222" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />

    <title>Battlestar Galactica</title>
  </head>

  <body
    class="d-flex flex-column h-100"
    style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);"
  >
    <!-- Navigation Bar -->
    <%- include('Components/navbar', { "links": links, "logOut": logOut}) %>

    <!-- Page Content -->
    <div class="container d-flex flex-column justify-content-start flex-fill">
      <ul class="list-group bg-transparent list-group-flush">
        <% allDecks.forEach(function(deck){ %>
        <li class="list-group-item bg-transparent ">
          <div class="row">
            <div class="col">
              <div class="border-bottom py-1 border-dark row">
                <div class="col-lg-6">
                  <h2><%= deck.title %></h2>
                </div>
              </div>

              <div class="row my-2">
                <% deck.cards.forEach(function(card){ %>
                <div class="col col-lg-4">
                  <%- include('Components/identity-card', { "card": card}) %>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      function logOut() {
        fetch("http://localhost:3000/logout").then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        });
      }
    </script>
  </body>
</html>
